body {
    background-color: #dedede;
    font-size: 16px;
    margin: 0px auto;
    width: 740px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px;
}

div#content {
    background-color: #fefefe;
    border-radius: 10px;
    border: 2px solid #97afcc;
    font-family: "Open Sans",Helvetica;
    font-size: 16px;
    padding: 10px 20px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: 2px solid black;
    color: #555555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555555;
    font-size: 14px;
    font-style: italic;
}

pre {
    background-color: #dde8f3;
    border-left: 3px solid #558abb;
    padding: 5px;
}

code {
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: #217ac0;
}

a:hover {
    color: #4592d2;
    text-decoration: underline;
    text-width: 4;
}
